body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#show-scene-0 #scene-0 > div,
#show-scene-1 #scene-1 > div,
#show-scene-2 #scene-2 > div,
#show-scene-3 #scene-3 > div,
#show-scene-4 #scene-4 > div,
#show-scene-5 #scene-5 > div,
#show-scene-6 #scene-6 > div {
  display: block;
}

#main-logo-button {
  position: fixed;
  top: 10px;
  right: 20px;
}

.fixed-contents {
  position: fixed;
  width: 100%;
  height: 100%;
}

section > div {
  display: none;
  /* border: 1px solid black; */
  box-sizing: border-box;
  font-size: 5vw;
}

#scene-0 .section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 20vw;
  color: white;
}
#scene-0-first {
  position: fixed;
  z-index: -5;
}
#scene-0-next {
  position: fixed;
  font-size: 30vw;
  color: white;
  z-index: -5;
}

#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
#top-logo {
  width: 100%;
  height: 100%;
}
#first-page-logo {
  width: 100vw;
  height: 100vh;
}
#line-map {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

#about-gradient {
  width: 100vw;
  height: 100vh;
  /* position: fixed;
  width: 80%;
  height: 100%;
  top: 0%;
  left: -50%;
  background: linear-gradient(
    to right,
    rgba(30, 19, 38, 1) 25%,
    transparent 100%
  );
  z-index: 7; */
}
.gallery-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: "#15172C";
  box-sizing: border-box;
}
#gallery-photo1 {
  display: inline-block;
  position: relative;
  width: 100%;
}
#gallery-photo2 {
  display: inline-block;
  position: relative;
  width: 100%;
}

#operation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
